/* Fondo con gradiente negro y verde */
body {
  margin: 0;
  background: linear-gradient(to bottom, #000000, #1a1a1a, #00cc11);
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  min-width: 70vh;
  
}


.contacto-container {
  display: flex;
  flex-direction: row; /* Alinea el formulario y el mapa en fila */
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px; /* Espacio entre el formulario y el mapa */
  padding: 20px;
  flex-wrap: wrap; /* Permite que los elementos se acomoden en pantallas pequeñas */
}

.contacto-form {
  background-color: rgba(255, 0, 0, 0.1); /* Fondo transparente */
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0px 4px 10px black;
  backdrop-filter: blur(10px);
  text-align: center;
}

.contacto-form h2 {
  color: white;
}

.contacto-form input,
.contacto-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  outline: none;
}

.contacto-form button {
  background-color: #00ff00;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.contacto-form button:hover {
  background-color: #00cc00;
}

.mensaje-exito {
  color: #00ff00;
  font-weight: bold;
  margin-top: 10px;
}

/* Estilos para el mapa */
.mapa-container {
  text-align: center;
  width: 90%;
  max-width: 600px;
}

.mapa-container h3 {
  color: white;
  margin-bottom: 10px;
}

.mapa {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}



/* Oculta footers duplicados */
footer {
  display: block;
}

footer + footer {
  display: none;
}
